.*
*__pycache__
client_secre.json
*Makefile
*CMakeCache.txt
*CMakeFiles
/calender_api_client/client_secret.json
/humanObserverAgent_GUI/client_secret.json
/humanObserverAgent_GUI/src/client_secret.json
